* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#eventForm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    bottom: 600px;
}