* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    flex-direction: column; 
    background-color: rgb(31,198,158);
}

#eventForm {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
}

.warning {
    color: red;
    margin-top: 20px; 
    font-size: 20px;
    border-bottom: 2px solid red;
}

#event-name {
    padding: 14px;
    border: 2px solid;
    font-size: 20px;
    margin-right: 8px;
    margin-left: 8px;
}

#date {
    padding: 14px;
    border: 2px solid;
    font-size: 20px;
    margin-left: 8px;
    margin-right: 8px;
}

#time {
    padding: 14px;
    border: 2px solid;
    font-size: 20px;
    margin-left: 8px;
    margin-right: 8px;
}


#start-button {
    padding: 14px;
    border: 2px solid;
    font-size: 20px;
    margin-left: 8px;
    margin-right: 8px;
    background-color: #FFC107;
    border-radius: 10px;
    cursor: pointer;
}

.secondContainer {
    margin-top: 10px;
    border-top: 2px solid;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 29px;
    font-family: 'Courier New', Courier, monospace;
}

.nameContainer {
    position: relative;
    top: 100px;
    right: 400px;
    font-size: 29px;
    font-family: 'Courier New', Courier, monospace;
}